<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RESTAURANT.name %></title>
</head>
<body>
  <h1>Home MP age</h1>

  <% if(true) { %>
    <p>Yes, We are Open</p>
  <% } else { %>
    <p>Sorry, We are closed</p>
  <% } %>
  
<p><%= RESTAURANT.name %> <br> Address: <%= RESTAURANT.address %> <br>Tel: <%= RESTAURANT.phone %></p>

</body>
</html>

